<div class="col-sm-<%= 12 / app_col %>" id="app-summary-col">
  <div class="app-summary-container">
    <div class="app-summary-header">
      <div class="app-summary-title">
        <%= link_to application_tag_path(id: app.id, method: method), class: "link-title" do %>
          <h2><%= app.name %></h2>
        <% end %>
        <div class="app-badges">
          <%= react_component 'Notes', { notes: app.notes, app: app }, { class: "app-notes" } %>
          <% if app.jira_tickets(method, env_tag).count > 0 %>
            <%= react_component 'AppJiraTickets', { tickets: app.jira_tickets(method, env_tag) }, { class: "app-notes" } %>
          <% end %>
        </div>
      </div>
      <div class="app-summary-recent">
        <% if app.total_failing(method, env_tag) > 0 %>
          <p><b>Recent Failed tests</b></p>
          <ul class="recent-failed-list">
            <% app.recent_failing_tests(method, env_tag).each do |test| %>
              <li><%= test.name %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="app-summary-progress">
      <div id="progressbar-<%= app.id %>"></div>
    </div>
    <script>
      <%= render partial: "progress_bar.js", locals: { app: app, method: method, tooltip: true, env_tag: env_tag } %>
    </script>
  </div>
</div>
