<div class="col-sm-<%= 12 / @app_col %>" id="app-summary-col">
  <div class="app-summary-container">
    <div class="app-summary-header">

      <div class="app-summary-title">
        <%= link_to application_tag_path(id: app.id, method: @method), class: "link-title" do %>
          <h2><%= app.name %></h2>
        <% end %>
      </div>

      <div class="app-summary-passing">
        <h2><em><%= tests.count{ |test| test.passing? } %></em>/<%= tests.count %></h2>
      </div>
    </div>

    <div class="app-summary-progress">
      <%= render partial: "prog_slice", locals: { percent: tests.count{ |test| test.passing? }/tests.count.to_f*100.0, type: "success" } %>
      <%= render partial: "prog_slice", locals: { percent: tests.count{ |test| !test.passing? and !test.failing? }/tests.count.to_f*100, type: "other" } %>
      <%= render partial: "prog_slice", locals: { percent: tests.count{ |test| test.failing? }/tests.count.to_f*100, type: "failing" } %>
    </div>

    <div class="app-summary-info">

      <div class="app-summary-recent">
        <% if tests.any?{ |test| test.failing? } %>
          <p><b>Recent Failed tests</b></p>
          <ul class="recent-failed-list">
            <% tests.select{ |test| test.failing? }.each do |test| %>
              <li><%= link_to test.name, test.job_url, class: 'link-title', target: "_blank" %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="app-badges">
        <%= react_component 'Notes', { notes: app.all_notes(@method), app: app }, { class: "app-notes" } %>
        <% if tests.any?{ |test| !test.jira_tickets.empty? } %>
          <%= react_component 'AppJiraTickets', { tickets: tests.map{ |test| test.jira_tickets }.flatten }, { class: "app-notes" } %>
        <% end %>
      </div>

    </div>

  </div>
</div>
