<div class="col-sm-<%= 12 / @app_col %>" id="app-summary-col">
  <div class="app-summary-container" id="app-container-<%= app.id %>">
    <div class="app-summary-header">

      <div class="app-summary-title">
        <%= link_to application_tag_path(id: app.id, method: @options.method), class: "link-title" do %>
          <h2><%= app.name %></h2>
        <% end %>
      </div>

      <div class="app-summary-passing">
        <h2><em><%= tests.count{ |test| test.passing? } %></em>/<%= tests.count %></h2>
      </div>
    </div>

    <div class="app-summary-progress">
      <%= render partial: "progress_bar", locals: { passing_percent: tests.count{ |test| test.passing? }/tests.count.to_f*100.0,
                                                      other_percent: tests.count{ |test| !test.passing? and !test.failing? }/tests.count.to_f*100,
                                                    failing_percent: tests.count{ |test| test.failing? }/tests.count.to_f*100 } %>
    </div>

    <div class="app-summary-info">

      <div class="app-summary-recent">
        <% if tests.any?{ |test| test.failing? } %>
          <a class="test-type-tag" id="failed-toggle-<%= app.id %>">Recent Failed <span class="badge" id="qa-badge"><%= tests.count{ |test| test.failing? } %></span></a>
          <ul class="recent-failed-list" id="recent-failed-<%= app.id %>">
            <% tests.select{ |test| test.failing? }.each do |test| %>
              <li><%= link_to test.name, test.job_url, class: 'link-title', target: "_blank" %></li>
            <% end %>
          </ul>
<script>
  $("#recent-failed-<%= app.id %>").click(function (e) {
    e.stopPropagation();
  });

  $("#failed-toggle-<%= app.id %>").click(function (e) {
    e.stopPropagation();
    if ($("#recent-failed-<%= app.id %>").is(":visible")) {
    $("#recent-failed-<%= app.id %>").hide();
    } else {
    $("#recent-failed-<%= app.id %>").show();
    }
  });
</script>
        <% end %>
      </div>

      <div class="app-badges">
        <%= react_component 'Notes', { notes: @options.all_notes(app), app: app }, { class: "app-notes" } %>
        <% if tests.any?{ |test| !test.jira_tickets.empty? } %>
          <%= react_component 'AppJiraTickets', { tickets: tests.map{ |test| test.jira_tickets }.flatten }, { class: "app-notes" } %>
        <% end %>
      </div>

    </div>

  </div>
</div>
