$( function() {
  <%= total_failing = failing_tests.count %>;
  <% if total_failing + total_passing > 0 %>
    $("#progressbar-<%= app.id %>").progressbar({
      value: <%= total_passing %>,
      max: <%= total_passing + total_failing %>,
      classes: {
        "ui-progressbar-value": "ui-corner-left app-progress-success",
        "ui-progressbar": "ui-corner-all app-progress-bar"
      }
    });

    $("#progressbar-<%= app.id %>").append($('<div class="progress-label"><p class="total-passing"><%= total_passing %> of <%= total_passing + total_failing %> passing</p><div>'));

    <% if total_failing > 0 and tooltip %>
      $div = $("<div class='app-progress-failing' style='width: <%= 100 * total_failing / (total_passing + total_failing) %>%'></div>");
      $("#progressbar-<%= app.id %>").append($div);
      $div.tooltip({
        items: "div",
        content: "<%= j render partial: "failing_tests", locals: { failing_tests: failing_tests } %>"
      });
    <% end %>

  <% else %>
    $("#progressbar-<%= app.id %>").progressbar({
      value: 0,
      classes: {
        "ui-progressbar-value": "ui-corner-left app-progress-success",
        "ui-progressbar": "ui-corner-all app-progress-disabled"
      }
    });
  <% end %>
});
