<div class="app-body">
  <div class="row">
    <% tests.each do |test| %>
      <div class="col-sm-<%= 12 / session[:test_col].to_i %>" id="test-summary-col">
        <div class="test-container test-container-<%= test.id %>">

          <div class="test-header">
            <%= link_to test.job_url, class: 'link-title', target: '_blank' do %>
              <p><%= test.name %></p>
            <% end %>
            <div>
              <% if test.test_type %>
                <p class="test-type-tag"><%= test.test_type.name %></p>
              <% end %>

              <%= react_component 'Notes', { notes: test.notes, test: test }, { class: "test-notes" } %>
              <%= react_component 'TestJiraTickets', { tickets: test.jira_tickets, test: test }, { class: "jira-section" } %>

              <%= link_to 'Build', build_test_path(test), remote: true, class: 'test-type-tag', id: "build-link-#{ test.id }"  %>
            </div>
            <p align="right" class="test-link-title"><%= link_to 'edit', edit_test_path(test), remote: true, class: 'edit-test-link', id: "edit-test-#{ test.id }"  %> </p>
            <script>
              $(".test-container-<%= test.id %>").hover(function() {
                $("#edit-test-<%= test.id %>").show();
              }, function() {
                $("#edit-test-<%= test.id %>").hide();
              });
            </script>
          </div>

          <div class="test-body test-status-<%= status_class(test) %>">
            <% if test.failing? and test.last_successful_build %>
              <p class="test-status-title"><%= link_to "last successful #{ last_successful_build(test) }", test.last_successful_build_url, class: 'last-build-link' %></p>
            <% elsif !test.passing? and !test.failing? %>
              <p class="test-status-title"><%= status(test) %></p>
            <% end %>
            <p align="right" class="test-last-build"><%= link_to last_build(test), test.last_build_url, class: 'last-build-link' %></p>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
