<%= render partial: '/layouts/header', locals: { title: ApplicationTag.page_title(@method) } %>

<div class="app-body">
  <% @applications.each_slice(2) do |app_row| %>
    <div class="row">
      <% app_row.each do |app| %>
        <div class="col-sm-6" id="app-summary-col">
          <div class="app-summary-container">
            <div class="app-summary-header">
              <div class="app-summary-title">
                <h3><%= app.name %></h3>
              </div>
              <div class="app-summary-recent">
                <p><b>Recent Failed tests</b></p>
                <ul class="recent-failed-list">
                  <% app.recent_failing_tests(@method).each do |test| %>
                    <li><%= test.name %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="app-summary-progress">
              <div class="progress-summary">
                <p class="total-passing"><%= app.total_passing(@method) %> passing tests </p>
                <p class="total-failing" align="right"><%= app.total_failing(@method) %> failing tests </p>
              </div>
              <div id="progressbar-<%= app.id %>"></div>
            </div>
            <script>
              <%= render partial: "progress_bar.js", locals: { app: app, method: @method } %>
            </script>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
