<div class="page-header" id="qa-header">
	<div class="page-title">
    <h2 class="app-page-title"><%= ApplicationTag.page_title(@method) %> <em>- <%= @env_tag.name %></em></h2>
    <p class="col-links">Apps per row: <%= render partial: 'app_col_link', locals: { col_num: 1 } %> <%= render partial: 'app_col_link', locals: { col_num: 2 } %> <%= render partial: 'app_col_link', locals: { col_num: 3 } %> <%= render partial: 'app_col_link', locals: { col_num: 4 } %></p>
	</div>
</div>

<div class="app-body">
  <% @applications.each_slice(@app_col) do |app_row| %>
    <div class="row">
      <% app_row.each do |app| %>
        <%= render partial: "app_summary", locals: { app: app, env_tag: @env_tag, app_col: @app_col, method: @method } %>
      <% end %>
    </div>
  <% end %>
</div>
