<div class="page-header" id="app-show-header">
	<div class="page-title">
    <div class="app-show-title">
      <h2 class="app-page-title"><%= ApplicationTag.test_type_display(@method) %> - <%= @app.name %> <em>- <%= @env_tag.name %></em></h2>
    </div>
    <div class="app-show-passing">
      <h2><em><%= @app.total_passing(@method, @env_tag) %></em>/<%= @app.total_tests(@method, @env_tag) %></h2>
    </div>
	</div>
  <div class="app-progress-header">
    <%= render partial: "prog_slice", locals: { percent: @app.percent_passing(@method, @env_tag), type: "success" } %>
    <%= render partial: "prog_slice", locals: { percent: @app.percent_other(@method, @env_tag), type: "other" } %>
    <%= render partial: "prog_slice", locals: { percent: @app.percent_failing(@method, @env_tag), type: "failing" } %>
  </div>
</div>

<%= render partial: "show_body", locals: { tests: @tests } %>
