<div class="page-header" id="app-show-header">
	<div class="page-title">
    <h2 class="app-page-title"><%= @app.name %> <em>- <%= @env_tag.name %></em></h2>
    <h4><%= ApplicationTag.test_type_display(@method) %></h4>
    <p class="col-links">Tests per row: <%= render partial: 'test_col_link', locals: { col_num: 3 } %> <%= render partial: 'test_col_link', locals: { col_num: 4 } %> <%= render partial: 'test_col_link', locals: { col_num: 6 } %></p>
	</div>
  <div class="app-progress-header">
    <div id="progressbar-<%= @app.id %>"></div>
  </div>
  <script>
    <%= render partial: "progress_bar.js", locals: { app: @app, method: @method, tooltip: false, env_tag: @env_tag } %>
  </script>
</div>

<div class="app-body">
  <% @tests.each_slice(@test_col) do |test_row| %>
    <div class="row">
      <% test_row.each do |test| %>
        <div class="col-sm-<%= 12 / @test_col %>" id="test-summary-col">

          <div class="test-container test-container-<%= test.id %>">

            <div class="test-header">
              <%= link_to test.job_url, class: 'link-title' do %>
                <h4><%= test.name %></h4>
              <% end %>
              <div>
                <div class="test-type-title">
                  <% if test.test_type %>
                    <p class="test-type-tag"><%= test.test_type.name %></p>
                  <% end %>

                  <div class="jira-section">
                    <%= react_component 'TestJira', { tickets: test.active_jira_tickets, test: test }, { class: "app-notes" } %>
                  </div>

                  <%= link_to 'Build', build_test_path(test), remote: true, class: 'test-type-tag', id: "build-link-#{ test.id }"  %>
                </div>
                <p align="right" class="test-link-title"><%= link_to 'edit', edit_test_path(test), remote: true, class: 'edit-test-link', id: "edit-test-#{ test.id }"  %> </p>
                <script>
                  <%= render partial: "bind_edit_link.js.erb", locals: { test: test } %>
                </script>
              </div>
            </div>

            <div class="test-body">
              <div class="test-status test-status-<%= test.status_css %>">
                <% if test.failing? and test.last_successful_build %>
                  <p class="test-status-title"><%= link_to "last successful #{test.last_successful_build_display}", test.last_successful_build_url, class: 'last-build-link' %></p>
                <% elsif !test.passing? %>
                  <p class="test-status-title"><%= test.status_display %></p>
                <% end %>
                <p align="right" class="test-last-build"><%= link_to test.last_build_display, test.last_build_url, class: 'last-build-link' %></p>
              </div>
            </div>

          </div>

        </div>
      <% end %>
    </div>
  <% end %>
</div>
