<%= render partial: '/layouts/header', locals: { title: @app.name } %>

<div class="app-body">
  <% @app.send(@method).each_slice(4) do |test_row| %>
    <div class="row">
      <% test_row.each do |test| %>
        <div class="col-sm-3" id="test-summary-col">
          <div class="test-container">
            <div class="test-header">
              <%= link_to test.job_url, class: 'link-title' do %>
                <h5><%= test.name %></h5>
              <% end %>
            </div>
            <div class="test-body">
              <div class="test-status test-status-<%= test.status_css %>">
                <p><%= test.status_display %></p>
              </div>
              <div class="last-build">
                <p>last build: </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
