<div class="page-header" id="app-show-header">
	<div class="page-title" id="app-title">
    <div class="app-show-title">
      <h2 class="app-page-title"><%= @env_tag.name.upcase %> / <%= ApplicationTag.page_title(@method) %> / <%= @app.name %></h2>
    </div>
    <div class="app-show-passing">
      <h2><em><%= @tests.count{ |test| test.passing? } %></em>/<%= @tests.count %></h2>
    </div>
	</div>
  <div class="app-progress-header">
    <%= render partial: "progress_bar", locals: { passing_percent: @tests.count{ |test| test.passing? }/@tests.count.to_f*100.0,
                                                    other_percent: @tests.count{ |test| !test.passing? and !test.failing? }/@tests.count.to_f*100,
                                                  failing_percent: @tests.count{ |test| test.failing? }/@tests.count.to_f*100 } %>
  </div>
</div>

<%= render partial: "show_body", locals: { tests: @tests } %>
