<div class="page-header" id="app-show-header">
	<div class="page-title" id="app-title">
    <div class="app-show-title">
      <h2 class="app-page-title"><%= @options.env_name %> / <%= @options.page_title %> / <%= @app.name %></h2>
    </div>
    <div class="app-show-passing">
      <h2><em><%= total_passing(@tests) %></em>/<%= @tests.count %></h2>
    </div>
	</div>
  <div class="app-progress-header">
    <%= render partial: "progress_bar", locals: { passing_percent: percent_passing(@tests),
                                                    other_percent: percent_other(@tests),
                                                  failing_percent: percent_failing(@tests) } %>
  </div>
</div>

<%= render partial: "show_body", locals: { tests: @tests } %>
