<div class="page-header" id="app-show-header">
	<div class="page-title">
    <h2><%= @app.name %></h2>
    <h4><%= ApplicationTag.test_type_display(@method) %></h4>
	</div>
  <div class="app-progress-header">
    <div class="progress-summary">
      <p class="total-passing"><%= @app.total_passing_format(@method, @env_tag) %></p>
      <p class="total-failing" align="right"><%= @app.total_failing_format(@method, @env_tag) %></p>
    </div>
    <div id="progressbar-<%= @app.id %>"></div>
    <p class="col-links">Tests per row: <%= render partial: 'test_col_link', locals: { col_num: 3 } %> <%= render partial: 'test_col_link', locals: { col_num: 4 } %> <%= render partial: 'test_col_link', locals: { col_num: 5 } %> <%= render partial: 'test_col_link', locals: { col_num: 6 } %></p>
  </div>
  <script>
    <%= render partial: "progress_bar.js", locals: { app: @app, method: @method, tooltip: false, env_tag: @env_tag } %>
  </script>
</div>

<div class="app-body">
  <% @app.tests_by_env(@method, @env_tag).each_slice(@test_col) do |test_row| %>
    <div class="row">
      <% test_row.each do |test| %>
        <div class="col-sm-<%= 12 / @test_col %>" id="test-summary-col">

          <div class="test-container">

            <div class="test-header">
              <%= link_to test.job_url, class: 'link-title' do %>
                <h5><%= test.name %></h5>
              <% end %>
            </div>

            <div class="test-body">
              <div class="test-status test-status-<%= test.status_css %>">
                <p><%= test.status_display %></p>
              </div>
              <div class="last-build">
                <%= link_to test.last_build_url, class: 'link-title' do %>
                  <p><%= test.last_build_display %></p>
                <% end %>
              </div>
            </div>

          </div>

        </div>
      <% end %>
    </div>
  <% end %>
</div>
