<div class="page-header" id="app-show-header">
	<div class="page-title">
    <h2><%= @app.name %></h2>
    <h4><%= ApplicationTag.test_type_display(@method) %></h4>
	</div>
  <div class="app-progress-header">
    <div class="progress-summary">
      <p class="total-passing"><%= @app.total_passing_format(@method) %></p>
      <p class="total-failing" align="right"><%= @app.total_failing_format(@method) %></p>
    </div>
    <div id="progressbar-<%= @app.id %>"></div>
  </div>
  <script>
    <%= render partial: "progress_bar.js", locals: { app: @app, method: @method, tooltip: false } %>
  </script>
</div>

<div class="app-body">
  <% @app.tests_sorted_by_last_build(@method).each_slice(4) do |test_row| %>
    <div class="row">
      <% test_row.each do |test| %>
        <div class="col-sm-3" id="test-summary-col">
          <div class="test-container">
            <div class="test-header">
              <%= link_to test.job_url, class: 'link-title' do %>
                <h5><%= test.name %></h5>
              <% end %>
            </div>
            <div class="test-body">
              <div class="test-status test-status-<%= test.status_css %>">
                <p><%= test.status_display %></p>
              </div>
              <div class="last-build">
                <%= link_to test.last_build_url, class: 'link-title' do %>
                  <p><%= test.last_build_display %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
