<div class="page-header" id="app-show-header">
	<div class="page-title">
    <h2 class="app-page-title"><%= ApplicationTag.test_type_display(@method) %> - <%= @app.name %> <em>- <%= @env_tag.name %></em></h2>
    <%= render partial: "test_col_select" %>
	</div>
  <div class="app-progress-header">
    <div id="progressbar-<%= @app.id %>"></div>
  </div>
  <script>
    <%= render partial: "progress_bar.js", locals: { app: @app, tooltip: false, failing_tests: @app.failing_tests(@method, @env_tag), total_passing: @app.total_passing(@method, @env_tag) } %>
  </script>
</div>

<%= render partial: "show_body", locals: { tests: @tests } %>
