<!DOCTYPE html>
<html>
  <head>
    <title>Qadashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" id="qa-navbar">
      <div class="container-fluid">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="qa-navbar-collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
          <%= link_to root_path, class: "navbar-brand" do %>
						<img alt="PWR" src="http://www.powerreviews.com/wp-content/uploads/2017/02/PWR-Logo.png">
          <% end %>
					</a>
				</div>

				<div class="collapse navbar-collapse" id="qa-navbar-collapse">
					<ul class="nav navbar-nav" id="qa-navbar-nav">
            <li><%= link_to "Applications", application_tags_path %></li>
            <li><%= link_to "Indirect Applications", application_tags_path(indirect_apps: true) %></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" id="qa-navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit Tests", tests_path %></li>
                <li><%= link_to "Edit Applications", edit_application_tags_path %></li>
              </ul>
            </li>
					</ul>
				</div>

			</div>
    </nav>

    <div class="container" id="qa-container">
      <%= yield %>
    </div>

  </body>
</html>

